.footer-container{
    background-color: whitesmoke;
    border: solid 3px var(--cor-de-borda);
    border-radius: 16px;
    text-align: center;
    padding: 10px;
    margin-top: 24px;
}
.dados ul{
    list-style: none;
    font-size: 18px;
}