.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-bottom: 24px;
}
.perfil{
  margin-bottom: 24px;
}
.perfil h1{
  font-size: 40px;
  font-weight: 400;
  color: var(--cor-de-texto);
}
.perfil span {
  color: var(--cor-de-span);
}
.foto-perfil {
  display: block;
  width: 150px;
  height: auto;
}
@media screen and (min-width:768px){
  .foto-perfil{
    width: 300px;
  }
  .perfil h1{
    font-size: 60px;
  }
}
