.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-bottom: 24px;
}
.perfil{
  text-align: center;
  margin-bottom: 24px;
}
.perfil h1{
  font-size: 40px;
  font-weight: 400;
  color: var(--cor-de-texto);
}
.perfil span {
  color: var(--cor-de-span);
}
.titlle{
 font-weight: 900;
}
.about-me{
  width: 100%;
  text-align: center;
  padding: 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 16px;
}
.about-me h2{
  font-size: 18px;
  line-height: 25px;
}

@media screen and (min-width:768px){
  .foto-perfil{
    width: 300px;
  }
  .perfil h1{
    font-size: 60px;
  }
}
@media screen and (min-width:1024px){
  
}
