.sessao-titulo h2 {
  font-size: 24px;
  font-weight: 400;
  color: var(--cor-de-texto);
  text-align: center;
  margin-bottom: 24px;
}
.sessao-titulo span{
    color: var(--cor-de-span);
}

/* os links começam aqui */

.projetos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.projeto{
    color: var(--cor-de-texto);
    border: 3px solid var(--cor-de-borda);
    border-radius: 16px;
    padding: 10px;
    text-align: center;
}
.projeto h3,p {
    margin-bottom: 15px;
}
.projeto a{
    background-color: white;
    color: var(--cor-de-span);
    border-radius: 16px;
    padding: 5px;
    text-decoration: none;
}