*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
/*header*/
#titulo h1{
    text-align: center;
}
#titulo span{
    color: gray;
}
#foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#foto img{
    margin: 20px 0;
    width: 140px;
    border: 3px solid white;
    border-radius: 50%;
}
#links ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    list-style: none;
}
#links li{
    margin: 0 auto 10px;
}

/*main*/
.projeto1{
    display: block;
    text-align: center;
    background-color: gray;
    border: 3px solid white;
    margin: 5px;
    padding: 10px;
}
.projeto2{
    color: black;
    display: block;
    text-align: center;
    background-color: white;
    border: 3px solid gray;
    margin: 5px;
    padding: 10px;
}
#Pjt1 p{
    margin: 10px 0;
}
#Pjt1 a{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 2px;
    border-radius: 6px;
}
#Pjt2 p{
   margin: 10px 0;
}
#Pjt2 a{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 2px;
    border-radius: 6px;
}
#Pjt3 p{
   margin: 10px 0;
}
#Pjt3 a{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 2px;
    border-radius: 6px;
}
#Pjt4 p{
   margin: 10px 0;
}
#Pjt4 a{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 2px;
    border-radius: 6px;
}
/*footer*/

footer{
    padding: 10px;
    text-align: center;
}
footer ul{
    list-style: none;
}
footer p{
    margin: 5px 0;
}
/*css tablet*/
@media(min-width:660px){
    #titulo h1{
        font-size: 40px;
    }
    #foto{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #foto img{
        width: 255px;
    }
    #links img{
        width: 88px;
    }
    #Pjt1{
        padding: 15px;
    }
    #Pjt1 h2{
        font-size: 32px;
    }
    #Pjt1 p{
    margin: 10px 0 25px;
    font-size: 24px;
    }
    #Pjt1 a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    border-radius: 6px;
    }
    #Pjt2{
        padding: 15px;
    }
    #Pjt2 h2{
        font-size: 32px;
    }
    #Pjt2 p{
    margin: 10px 0 25px;
    font-size: 24px;
    }
    #Pjt2 a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    border-radius: 6px;
    }
    #Pjt3{
        padding: 15px;
    }
    #Pjt3 h2{
        font-size: 32px;
    }
    #Pjt3 p{
    margin: 10px 0 25px;
    font-size: 24px;
    }
    #Pjt3 a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    border-radius: 6px;
    }
    #Pjt4{
        padding: 15px;
    }
    #Pjt4 h2{
        font-size: 32px;
    }
    #Pjt4 p{
    margin: 10px 0 25px;
    font-size: 24px;
    }
    #Pjt4 a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    border-radius: 6px;
    }
    footer{
        font-size: 20px;
    }
}
/*css desktop*/
@media(min-width:1000px){
    #titulo h1{
        font-size: 64px;
    }
    #foto img{
        width: 300px;
    }
    #links{
        margin: 30px 0;
    }
    main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        padding: 20px;
    }
    
}
