*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
#titulo h1{
    text-align: center;
}
#titulo span{
    color: gray;
}
#foto{
    width: 100%;
}
#foto img{
    display: inline-block;
    width: 140px;
    margin: 20px 32% 20px;
    border: 3px solid white;
    border-radius: 50%;
}
#links ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    list-style: none;
}
#links li{
    margin: 0 auto 10px;
}

/*main*/
.projeto1{
    display: block;
    text-align: center;
    background-color: gray;
    border: 3px solid white;
    margin: 5px;
    padding: 10px;
}
.projeto2{
    color: black;
    display: block;
    text-align: center;
    background-color: white;
    border: 3px solid gray;
    margin: 5px;
    padding: 10px;
}
#Pjt1 p{
    margin: 10px 0;
}
#Pjt1 a{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 2px;
    border-radius: 6px;
}
#Pjt2 p{
   margin: 10px 0;
}
#Pjt2 a{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 2px;
    border-radius: 6px;
}
#Pjt3 p{
   margin: 10px 0;
}
#Pjt3 a{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 2px;
    border-radius: 6px;
}
#Pjt4 p{
   margin: 10px 0;
}
#Pjt4 a{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 2px;
    border-radius: 6px;
}
/*footer*/

footer{
    padding: 10px;
    text-align: center;
}
footer p{
    margin: 5px 0;
}
